<div class="everything">
<div *ngIf="isNew; else editTemplate">
  <h1>Add New Musician</h1>
  <form (ngSubmit)="saveMusician()">
    <label>Name:</label>
    <input [(ngModel)]="musician.name" name="name" required />
    <label>Genre:</label>
    <input [(ngModel)]="musician.genre" name="genre" required />
    <label>Country:</label>
    <input [(ngModel)]="musician.country" name="country" required />
    <div class="button-group">
      <button type="submit">Save</button>
    </div>
  </form>
</div>

<ng-template #editTemplate>
  <h1>Edit Musician</h1>
  <form (ngSubmit)="saveMusician()" #musicianForm="ngForm">
    <label>Name:</label>
    <input [(ngModel)]="musician.name" name="name" required />
    <label>Genre:</label>
    <input [(ngModel)]="musician.genre" name="genre" required />
    <label>Country:</label>
    <input [(ngModel)]="musician.country" name="country" required />
    <div class="button-group">
      <button type="submit" [disabled]="!musicianForm.valid">Save</button>
      <button type="button" (click)="deleteMusician()">Delete</button>
    </div>
  </form>
</ng-template>
</div>
